@import "tailwindcss";

body {
  font-family: var(--font-inter),
}

.font-inter {
  font-family: var(--font-inter);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.image-scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.image-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}